<form action="/create_testing_center_from_center_type" method="post">

  <input type="hidden" name="center_type_id" value="<%= @center_type.id %>">

  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control" value="<%= @testing_center.location_name %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @testing_center.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create testing center
  </button>
</form>
