<!-- Validation failure messages -->
<% if @center_type.errors.any? %>
  <% @center_type.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit center type #<%= @center_type.id %>
</h1>

<hr>

<!-- Form center_type start -->
<form action="/update_center_type/<%= @center_type.id %>" method="post">
<!-- Form center_type end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="text" id="name" name="name" class="form-control" value="<%= @center_type.name %>">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <button class="btn btn-block btn-outline-secondary">
    Update center type
  </button>
</form>

<hr>

<a href="/center_types">
  Go back
</a>
