<h1>
  Add a new center type
</h1>


<hr>

<form action="/create_center_type" method="post">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="text" id="name" name="name" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create center type
  </button>
</form>

<hr>

<a href="/center_types">
  Go back
</a>
