<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Lab Entries

    <a data-toggle="collapse" href="#lab_lab_entries_new_form">
      Add lab entry
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @lab.lab_entries.each do |lab_entry| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/lab_entries/<%= lab_entry.id %>">
          <%= lab_entry.lab_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_lab_entry_from_lab/<%= lab_entry.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="lab_lab_entries_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "lab_templates/lab_lab_entries_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
