<h1>
  Edit warehouse #<%= @warehouse.id %>
</h1>

<hr>

<form action="/update_warehouse/<%= @warehouse.id %>" method="post">

  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control" value="<%= @warehouse.location_name %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @warehouse.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update warehouse
  </button>
</form>

<hr>

<a href="/warehouses">
  Go back
</a>
