<h1>
  Add a new warehouse
</h1>


<hr>

<form action="/create_warehouse" method="post">

  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create warehouse
  </button>
</form>

<hr>

<a href="/warehouses">
  Go back
</a>
