<% if @warehouse.present? %>
  <% if @warehouse.errors.any? %>
    <% @warehouse.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new warehouse
</h1>


<hr>

<form action="/create_warehouse" method="post">

  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control" value="<%= @warehouse.location_name %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @warehouse.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create warehouse
  </button>
</form>

<hr>

<a href="/warehouses">
  Go back
</a>
