<% if @testing_center.present? %>
  <% if @testing_center.errors.any? %>
    <% @testing_center.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new testing center
</h1>


<hr>

<form action="/create_testing_center" method="post">

  <div class="form-group">
    <label for="center_type_id">
      Center type
    </label>

    <%= select_tag(:center_type_id, options_from_collection_for_select(CenterType.all, :id, :name, @testing_center.center_type_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="location_name">
      Location name
    </label>

    <input type="text" id="location_name" name="location_name" class="form-control" value="<%= @testing_center.location_name %>">
  </div>

  <div class="form-group">
    <label for="location">
      Location
    </label>

    <input type="text" id="location" name="location" class="form-control" value="<%= @testing_center.location %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create testing center
  </button>
</form>

<hr>

<a href="/testing_centers">
  Go back
</a>
