<h1>
  Add a new testing center entry
</h1>


<hr>

<form action="/create_testing_center_entry" method="post">

  <div class="form-group">
    <label for="testing_center_id">
      Testing center
    </label>

    <%= select_tag(:testing_center_id, options_from_collection_for_select(TestingCenter.all, :id, :center_type_id, @testing_center_entry.testing_center_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="number_test_administered">
      Number test administered
    </label>

    <input type="text" id="number_test_administered" name="number_test_administered" class="form-control">
  </div>

  <div class="form-group">
    <label for="number_of_people_untested_from_insufficient_supply">
      Number of people untested from insufficient supply
    </label>

    <input type="text" id="number_of_people_untested_from_insufficient_supply" name="number_of_people_untested_from_insufficient_supply" class="form-control">
  </div>

  <div class="form-group">
    <label for="number_of_people_untested_from_other_reasons">
      Number of people untested from other reasons
    </label>

    <input type="text" id="number_of_people_untested_from_other_reasons" name="number_of_people_untested_from_other_reasons" class="form-control">
  </div>

  <div class="form-group">
    <label for="percent_capacity">
      Percent capacity
    </label>

    <input type="text" id="percent_capacity" name="percent_capacity" class="form-control">
  </div>

  <div class="form-group">
    <label for="percent_positive_24_hour">
      Percent positive 24 hour
    </label>

    <input type="text" id="percent_positive_24_hour" name="percent_positive_24_hour" class="form-control">
  </div>

  <div class="form-group">
    <label for="percent_positive_72_hour">
      Percent positive 72 hour
    </label>

    <input type="text" id="percent_positive_72_hour" name="percent_positive_72_hour" class="form-control">
  </div>

  <div class="form-group">
    <label for="current_inv_anterior_nasal_swabs">
      Current inv anterior nasal swabs
    </label>

    <input type="text" id="current_inv_anterior_nasal_swabs" name="current_inv_anterior_nasal_swabs" class="form-control">
  </div>

  <div class="form-group">
    <label for="current_inv_nasophayngeal_swabs">
      Current inv nasophayngeal swabs
    </label>

    <input type="text" id="current_inv_nasophayngeal_swabs" name="current_inv_nasophayngeal_swabs" class="form-control">
  </div>

  <div class="form-group">
    <label for="current_inv_transport_media">
      Current inv transport media
    </label>

    <input type="text" id="current_inv_transport_media" name="current_inv_transport_media" class="form-control">
  </div>

  <div class="form-group">
    <label for="for_24h_period_ending_at">
      For 24h period ending at
    </label>

    <input type="text" id="for_24h_period_ending_at" name="for_24h_period_ending_at" class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create testing center entry
  </button>
</form>

<hr>

<a href="/testing_center_entries">
  Go back
</a>
